
@using Microsoft.AspNetCore.Mvc.ModelBinding;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions
@inject WebSiteBackend.Business.Abstracts.Interfaces.ILocalizationResourceService localizationService
@{
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
    var displayname = culture.RequestCulture.UICulture.Name;
    var language = culture.RequestCulture.UICulture.Name == "en" ? 1 : 2;
}
@*@localizationService.GetByLanguage("TestBaslik",language).Result.Value*@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Smyrna Baklava</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Nunito:600,700" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="~/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Nav Bar Start -->

    <div class="navbar navbar-expand-lg bg-light navbar-light">
        <div class="container-fluid">
            @Html.ActionLink("", "Index", "Home", null, new { @class = "navbar-brand" })
            <a href="" class="navbar-brand">Smyrna <span>Baklava</span></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    @Html.ActionLink(@localizationService.GetByLanguage("Home", language).Result.Value, "Index", "Home", null, new { @class = "nav-item nav-link active" })
                    @Html.ActionLink(@localizationService.GetByLanguage("AboutUs", language).Result.Value, "About", "Home", null, new { @class = "nav-item nav-link " })
                    @Html.ActionLink(@localizationService.GetByLanguage("VisionMission", language).Result.Value, "VisionMission", "Home", null, new { @class = "nav-item nav-link " })
                    @Html.ActionLink(@localizationService.GetByLanguage("Blog", language).Result.Value, "Blog", "Home", null, new { @class = "nav-item nav-link " })
                    <li class="nav-item">
                        <partial name="_Culture" />
                    </li>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    @await Component.InvokeAsync("Footer")
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="~/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="~/js/main.js"></script>
</body>
</html>
