@model BlogViewModel
@using Microsoft.AspNetCore.Mvc.ModelBinding;
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions
@inject WebSiteBackend.Business.Abstracts.Interfaces.ILocalizationResourceService localizationService
@{
    Layout = "_Layout";
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
    var displayname = culture.RequestCulture.UICulture.Name;
    var language = culture.RequestCulture.UICulture.Name == "en" ? 1 : 2;
}
@*@localizationService.GetByLanguage("TestBaslik",language).Result.Value*@
<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>@localizationService.GetByLanguage("Blogs", language).Result.Value</h2>
            </div>
            <div class="col-12">
                @Html.ActionLink(@localizationService.GetByLanguage("Home", language).Result.Value, "Index", "Home", null, new {})
                @Html.ActionLink(@localizationService.GetByLanguage("Blog", language).Result.Value, "Blog", "Home", null, new {})
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Blog Start -->
<div class="blog">
    <div class="container">
        <div class="section-header text-center">
            <p>@localizationService.GetByLanguage("Blog", language).Result.Value</p>
            <h2>@localizationService.GetByLanguage("LastBlogs", language).Result.Value</h2>
        </div>
        <div class="row">
            @if (Model.Blogs != null)
                @foreach (var blog in Model.Blogs)
                {

                    <div class="col-md-6">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="@blog.ImageUrl" alt="Blog">
                            </div>
                            <div class="blog-content">
                                <h2 class="blog-title">@blog.Header</h2>
                                <div class="blog-meta">
                                    <p><i class="far fa-user"></i>Admin</p>
                                    <p><i class="far fa-list-alt"></i>@blog.Category.Name</p>
                                    <p><i class="far fa-calendar-alt"> @blog.CreateTime.ToShortDateString()</i></p>
                                </div>
                                <div class="blog-text">
                                    @Html.Raw(blog.Content)
                                    @*<a class="btn custom-btn" href="">Daha Fazla</a>*@
                                </div>
                            </div>
                        </div>

                    </div>
                }
        </div>
    </div>
</div>
<!-- Blog End -->