@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    @model WebSiteBackend.WebUI.Areas.Admin.Models.AboutUsModels.AboutUsUpdateModel;
}

@using (Html.BeginForm("AboutUsUpdate","Home",FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <div class="card">
        <div class="card-header">
            Hakkımızda
        </div>
        <div class="card-body">
            <div class="form-group row">
                <input type="hidden" value="@Model.Id" />
            </div>
            <div class="form-group row">
                @Html.LabelFor(m=>m.Content,new {@class="col-sm-3"})
                @Html.TextBoxFor(m=>m.Content,new {@class="form-control form-control-user col-sm-9"})
                @Html.ValidationMessageFor(m=>m.Content)
            </div>
            <div class="form-group row">
                @Html.LabelFor(m=>m.Language,new {@class="col-sm-3"})
                @Html.DropDownListFor(m=>((int)m.Language),new List<SelectListItem>{
                new SelectListItem {Text="Türkçe",Value="1"},
                new SelectListItem {Text="İngilizce",Value="2"}
            },new {@class="form-control form-control-user col-sm-9"})
            @Html.ValidationMessageFor(m=>((int)m.Language))
            </div>
            <input type="submit" value="Güncelle" class="btn btn-primary"/>
        </div>
    </div>
}