@{ Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    @model WebSiteBackend.WebUI.Areas.Admin.Models.CarouselModels.CarouselUpdateModel;
}

@using (Html.BeginForm("CarouselUpdate", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
@Html.ValidationSummary(true)

                <div class="card">
                    <div class="card-header">
                        Kategori
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <input type="hidden" value="@Model.Id" />
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Header, new { @class = "col-sm-3" })
                            @Html.TextBoxFor(m => m.Header, new { @class = "form-control form-control-user" })
                            @Html.ValidationMessageFor(m => m.Header)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Image, new { @class = "col-sm-3" })
                            @Html.EditorFor(m => m.Image, new { @class = "form-control form-control-user" })
                            @Html.ValidationMessageFor(m => m.Image)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Detail, new { @class = "col-sm-3" })
                            @Html.TextBoxFor(m => m.Detail, new { @class = "form-control form-control-user" })
                            @Html.ValidationMessageFor(m => m.Detail)
                        </div>
                       

                        <input type="submit" value="Güncelle" class="btn btn-primary" />
                    </div>
                </div>}