@{ Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
@model WebSiteBackend.WebUI.Areas.Admin.Models.CarouselModels.CarouselCreateModel;
}

@using (Html.BeginForm("CarouselCreate", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
@Html.ValidationSummary(true)

                <div class="card">
                    <div class="card-header">
                        Carousel
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            @Html.LabelFor(m => m.Header, new { @class = "col-sm-3" })
                            @Html.TextBoxFor(m => m.Header, new { @class = "form-control form-control-user" })
                            @Html.ValidationMessageFor(m => m.Header, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Image, new { @class = "col-sm-3" })
                            @Html.EditorFor(m => m.Image, new { @class = "form-control form-control-user" })
                            @Html.ValidationMessageFor(m => m.Image, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Detail, new { @class = "col-sm-3" })
                            @Html.TextBoxFor(m => m.Detail, new { @class = "form-control form-control-user" })
                            @Html.ValidationMessageFor(m => m.Detail, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.DropDownListFor(m => m.Language, new List<SelectListItem>{
                new SelectListItem {Text="Türkçe",Value="1"},
                new SelectListItem {Text="İngilizce",Value="2"}
            }, new { @class = "form-control form-control-user" })
                            @Html.ValidationMessageFor(m => m.Language, "", new { @class = "text-danger" })
                        </div>
                        <input type="submit" value="Kaydet" class="btn btn-primary" />
                    </div>
                </div>}