@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    @model Web.Models.CategoryModels.CategoryCreateModel;
}

@using (Html.BeginForm("CategoryCreate","Home",FormMethod.Post))
{
    @Html.ValidationSummary(true)

    <div class="card">
        <div class="card-header">
            Kategori
        </div>
        <div class="card-body">
            
            <div class="form-group">
                @Html.TextBoxFor(m=>m.Header,new {@class="form-control form-control-user"})
                @Html.ValidationMessageFor(m=>m.Header)
            </div>
            <div class="form-group">
                @Html.DropDownListFor(m=>m.LanguageId,new List<SelectListItem>{
                new SelectListItem {Text="Türkçe",Value="1"},
                new SelectListItem {Text="İngilizce",Value="2"}
            },new {@class="form-control form-control-user"})
            @Html.ValidationMessageFor(m=>m.LanguageId)
            </div>
            <input type="submit" value="Kaydet" class="btn btn-primary"/>
        </div>
    </div>
}