@{ Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    @model WebSiteBackend.WebUI.Areas.Admin.Models.ProductModels.ProductCreateModel;
}

@using (Html.BeginForm("ProductCreate", "Home", FormMethod.Post))
{
@Html.ValidationSummary(true)

                <div class="card">
                    <div class="card-header">
                        Konu
                    </div>
                    <div class="card-body">

                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control form-control-user" })
                            @Html.ValidationMessageFor(m => m.Name)
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Content, new { @class = "form-control form-control-user" })
                            @Html.ValidationMessageFor(m => m.Content)
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.ImageUrl, new { @class = "form-control form-control-user" })
                            @Html.ValidationMessageFor(m => m.ImageUrl)
                        </div>
                        <input type="submit" value="Kaydet" class="btn btn-primary" />
                    </div>
                </div>}