@using WebSiteBackend.Entities.Concrete;
@using WebSiteBackend.Business.Abstracts.Interfaces;
@model Blog

@{

    Layout = "~/Views/Private/_AdminLayout.cshtml";
}


<body class="bg-primary">
    <div id="layoutAuthentication">
        <div id="">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Blog Ekle</h3></div>
                                <div class="card-body">

                                    <form>
                                        <div>
                                            @using (Html.BeginForm("Create", "Blog", FormMethod.Post))
                                            {
                                            <div class="form-group">
                                                @*@Html.LabelFor(x => x.Header, "Başlık:", new { @class = "col-md-4 text-left  text text-muted" })*@
                                                @Html.TextBoxFor(x => x.Header, default, new { @class = "form-control col-md-8", @id = "Name", @placeholder = "Bir Başlık Giriniz" })
                                                @Html.TextBoxFor(x => x.Image, default, new { @class = "form-control col-md-8", @id = "Name", @placeholder = "Bir Resim Adı Ekleyiniz" })
                                                @Html.TextBoxFor(x => x.Category, default, new { @class = "form-control col-md-8", @id = "Name", @placeholder = "Bir Kategori Adı Giriniz" })
                                                @Html.TextBoxFor(x => x.ReleaseTime, default, new { @class = "form-control col-md-8", @id = "Name", @placeholder = "Yayın Tarihi Giriniz" })
                                                @Html.TextBoxFor(x => x.Content, default, new { @class = "form-control col-md-8", @id = "Name", @placeholder = "Konu" })
                                            </div>
                                                @Html.ValidationMessageFor(x => x.Header, "", new { @class = "text-danger form-text" })

                                            }
                                            <div>
                                                <button class="btn btn-info" type="submit" asp-action="Index" asp-controller="Blog">Ekle</button>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

        </div>

    </div>
</body>


